* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  height: 100vh;
}
main nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 22vh;
  background-color: black;
  color: #fff;
}
main nav .insight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  padding: 1rem 0;
  height: 5vh;
}
main nav .insight span {
  font-size: 15px;
}
main nav .insight :nth-child(1) {
  padding: 0 3rem;
  border-right: 1px solid rgba(128, 128, 128, 0.493);
}
main nav .insight :nth-child(2) {
  padding: 0 1.5rem;
  border-right: 1px solid rgba(128, 128, 128, 0.493);
}
main nav .user-and-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 5rem;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.493);
}
main nav .user-and-search input {
  width: 20rem;
  height: 2rem;
  background-color: black;
  border: 1px solid rgba(128, 128, 128, 0.493);
  padding: 0.5rem;
  font-size: 10px;
  color: #fff;
}
main nav .user-and-search .icons {
  display: flex;
}
main nav .user-and-search .icons button {
  border-color: #fff;
  margin: 0 0.5rem;
  width: 50px;
  background-color: black;
}
main nav .products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.493);
  color: #fff;
  width: 100%;
  height: 100%;
}
main nav .products p {
  font-weight: bold;
}
main nav .products :hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
}
main .main-banner {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main .main-banner .banner {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 4rem;
  margin-top: 22rem;
  justify-content: center;
  align-items: center;
}
main .main-banner span {
  color: #fff;
}
main .main-banner span:nth-child(1) {
  font-size: 3rem;
  font-weight: bold;
}
main .main-banner span:nth-child(2) {
  font-size: 18px;
}
main .main-banner button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 1.5rem;
  background-color: #000;
  color: #fff;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}
main .main-banner img {
  display: flex;
  z-index: -1;
  width: 100%;
  background-size: cover;
}
main .slides {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 80%;
  width: 100%;
}
main .slides .slides-button {
  display: flex;
  margin: 0 1rem;
  width: 14rem;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
main .slides :hover {
  background-color: #fff;
  transition: 1s;
}
main .category {
  display: flex;
  padding: 0 2rem;
  width: 100%;
  flex-direction: column;
}
main .category .first {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
main .category .first span {
  font-weight: bold;
  font-size: 1.5rem;
}
main .category .category-clothes {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  flex-direction: row;
}
main .category .category-clothes .image-category {
  display: flex;
  flex-direction: column;
}
main .category .category-clothes .image-category img {
  width: 30rem;
  height: 37rem;
}
main .category .category-clothes .image-category .buy-now {
  display: flex;
  position: absolute;
  margin-left: 20rem;
  margin-top: 34rem;
  align-self: center;
}
main .category .category-clothes .image-category .buy-now button {
  width: 10rem;
  height: 3rem;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}
main .category .category-clothes .image-category .category-items {
  display: flex;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}
main .category .category-clothes .image-category .category-items p {
  border-bottom: 1px solid #000;
}
main .category .marcas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  padding: 1rem 2rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
main .category .marcas p {
  padding: 0 2rem;
  font-size: 20px;
  font-weight: bold;
}
main .lacoste-active {
  display: flex;
  width: 100%;
  height: 70vh;
}
main .lacoste-active img {
  display: flex;
  position: relative;
  z-index: -1;
  width: 100%;
  background-size: cover;
}
main .lacoste-active .lacoste-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40%;
  padding: 1rem 0;
}
main .lacoste-active .lacoste-banner h1 {
  font-size: 30px;
  margin: 0.6rem 0;
}
main .lacoste-active .lacoste-banner p {
  margin-bottom: 0.6rem;
}
main .lacoste-active .lacoste-banner button {
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
}
main .lacoste-active .lacoste-banner .logo-lacoste {
  display: flex;
  padding: 0 1rem;
}
main .lacoste-active .lacoste-banner .logo-lacoste p {
  padding: 0 1rem;
}
main .lacoste-active .lacoste-banner .logo-lacoste :nth-child(1) {
  border-right: 1px solid #000;
}
main .list-items {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
}
main .list-items .first-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
main .list-items .first-title span {
  font-weight: bold;
  font-size: 1.5rem;
}
main .list-items .items {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  overflow: hidden;
  color: #000000;
}
main .list-items .items .seta {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10rem;
  background-color: aqua;
}
main .list-items .items .seta button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
main .list-items .items .items-image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 1rem;
  position: relative;
}
main .list-items .items .items-image img {
  display: flex;
  width: 30rem;
  background-color: #fff;
}
main .list-items .items .items-image .buy-now {
  display: flex;
  position: absolute;
  margin-top: 37rem;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}
main .list-items .items .items-image .buy-now .hover-image {
  display: flex;
  flex-direction: row;
}
main .list-items .items .items-image .buy-now .hover-image p {
  padding: 0 1rem;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  cursor: pointer;
}
main .list-items .items .items-image .buy-now .hover-image :hover {
  background-color: #fff;
  color: #000;
  transition: 1s;
}
main .list-items .items .items-image .buy-now .button-image {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem 0;
}
main .list-items .items .items-image .buy-now .button-image button {
  width: 10rem;
  height: 3rem;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}
main .list-items .items .items-image .buy-now .button-image :hover {
  background-color: #08acec;
  transition: 1s;
}
main .list-items .items .items-image .recommended-items {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
main .list-items .items .items-image .recommended-items .price {
  display: flex;
}
main .list-items .items .items-image .recommended-items .price p {
  text-decoration: line-through;
  padding: 0 0.5rem;
}
main .list-items .items .items-image .recommended-items .price .low-price {
  font-size: 12px;
}
main .list-items .items .items-image .recommended-items .price-pix {
  display: flex;
}
main .list-items .items .items-image .recommended-items .price-pix p {
  color: green;
  font-weight: bold;
  font-size: 20px;
  padding-right: 0.5rem;
}
main .list-items .items :hover .buy-now {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 25.2%;
  height: 35.8%;
  margin-top: 25rem;
  z-index: 100;
  transition: 1s;
}
main .list-items .items :hover .buy-now .hover-image {
  display: flex;
  justify-content: center;
  align-self: center;
}
main .sneakers-shop {
  display: flex;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.7882352941);
}
main .sneakers-shop img {
  display: flex;
  z-index: -1;
  width: 100%;
}
main .sneakers-shop .banner {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 24%;
  margin-left: 15rem;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}
main .sneakers-shop .banner span {
  font-size: 18px;
  letter-spacing: 0.5rem;
}
main .sneakers-shop .banner h1 {
  font-size: 50px;
}
main .sneakers-shop .banner p {
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */